<%- include ('../partials/head') %>


        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            
            <!-- Call to Action-->
            <div class="card text-white bg-danger my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0" style="font-size: 30px;">Désolé, le site est accessible du Lundi au Vendredi de 09h à 17h!</p></div>
            </div>

